.memory-online-container .home-content {
  height: calc(100vh - 52px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-online-container .join-options {
  display: flex;
  gap: 20px;
}

.memory-online-container .rooms-content {
  height: calc(100vh - 52px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-online-container .rooms-content .rooms-container {
  width: 500px;
  height: 400px;
  background-color: #fff;
}

.memory-online-container .create-room-content {
  height: calc(100vh - 52px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-online-container .create-room-content .create-room-container {
  width: 500px;
  height: 400px;
  background-color: #fff;
}

.memory-online-container .single-room-container {
  height: calc(100vh - 52px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-online-container .single-room-container {
  height: calc(100vh - 52px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-online-container .single-room-container .card-grid .box {
  width: 50px;
  height: 50px;
  background-color: #fff;
}
