.memory-online-container {
  position: relative;
}

.memory-online-container .home-content {
  height: calc(100vh - 52px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-online-container .join-options {
  display: flex;
  gap: 20px;
}

.memory-online-container .join-after-button {
  position: absolute;
  top: 40px;
  right: 20px;
}

.memory-online-container .rooms-content {
  height: calc(100vh - 52px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-online-container .rooms-content .rooms-container {
  width: 500px;
  height: 400px;
  background-color: #fff;
}

.memory-online-container .create-room-content {
  height: calc(100vh - 52px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.memory-online-container .create-room-content .create-room-container {
  width: 500px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  /* background-color: #433f33; */
  padding: 16px;
}

.memory-online-container
  .create-room-content
  .create-room-container
  .type-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.memory-online-container
  .create-room-content
  .create-room-container
  .create-room-options {
  margin-top: 16px;
}

.memory-online-container
  .create-room-content
  .create-room-container
  .create-room-options
  form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.memory-online-container .single-room-container {
  height: calc(100vh - 52px);
  width: 100%;
  display: flex;
  color: var(--text-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-row {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.memory-online-container .single-room-container {
  height: calc(100vh - 52px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-online-container .single-room-container .card-grid .box {
  max-width: 100px;
  max-height: 100px;
  background-color: #fff;
}

.memory-online-container .single-room-container .card-grid .box img {
  width: 100%;
  height: 100%;
}

.memory-online-container .single-room-container .card-grid .box {
  position: relative;
  width: 100px; /* Adjust as needed */
  height: 140px; /* Adjust as needed */
  perspective: 1000px;
}

.memory-online-container .single-room-container .card-grid .box img {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
}

.memory-online-container
  .single-room-container
  .card-grid
  .box.flipped
  img.front {
  transform: rotateY(180deg);
}

.memory-online-container
  .single-room-container
  .card-grid
  .box.flipped
  img.back {
  transform: rotateY(0);
}

.free-rooms-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.freeroom-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}
